.App {
  text-align: center;
  display: flex;
  background-color: #282c34;
  color:white;
  position: absolute;
  top: 0;bottom:0;left: 0;right: 0;
  height: 100%; 
  width: 100%; 
  margin: 0 auto;
}

.html { height: 100%; width: 80%; } 
.body { height: 100%; width: 100%; margin: 0; padding: 0; 
}
.modal-backdrop.show {
  position: fixed;
  top: 0;
  left: 0;
  width: 160vw;
  height: 160vh;
  z-index: 1040;
  background-color: rgba(0, 0, 0, 0.774);
}

.modal-backdrop.fade{
  width: 160vw;
  height: 160vh;
  opacity: 0;
}

.Alert-Notif {
  position: fixed;
  top: 50%;
  left: 65%;
  transform: translate(-50%, -50%);
  z-index: 9999; /* Adjust the z-index value if necessary */
  max-width: 400px; /* Adjust the maximum width to your preference */
  height: 120px; /* Allow the height to adjust based on content */
  margin-left: -400px; /* Remove the left margin */
}

.sidemenu{
  width: 240px;
  padding: 10px;
  background-color: #202123;
  
}

.side-menu-button{
  padding: 12px;
  border: 1px solid white;
  border-radius: 5px;
  text-align: left;
  transition: ease 0.25s all;
}

.System-Submit-Button{
  padding: 10px;
  margin: 10px;
  border: 1px solid #000;
  border-radius: 5px;
  background-color: #343541;
  color: #fff;
  transition: ease 0.25s all;
}

.System-Submit-Button:hover{
  background-color:white;
  border: 1px solid white;
  color:#202123;
}

.confirm-msg{
  color:green;
}

.chat-thread-list {
  display: flex;
  flex-direction: column;
  max-height: 60vh;
  overflow-y: auto;
  transition: ease 0.25s all;
}

.chat-thread-title {
  padding: 10px;
  margin: 10px;
  border: 1px solid #000;
  border-radius: 5px;
  background-color: #000;
  color: #fff;
  cursor: pointer;
  transition: ease 0.5s all;
}

.chat-thread-title.active {
  background-color: #fff;
  color: #000;
  transition: ease 0.5s all;
}

.chat-thread-title button {
  background-color: transparent;
  border: none;
  color: grey;
  margin-left: 10px;
  cursor: pointer;
  transition: ease 0.25s all;
}

.chat-thread-title button:hover {
  color: red;
}

.side-menu-button span {
padding-left:6px ;
padding-right: 12px;
}

.side-menu-button:hover{
  background-color:rgba(233, 233, 233, 0.329) ;
}

.fade Alert-Notif alert alert-danger alert-dismissible show{
  display:flex ;
  position: absolute;
  
}

.Google-Signin {
  position: absolute;
  bottom: 10px; left: 30px;
  padding-bottom: 0%;
  background-color: #fff;
  color: #000;
  border-radius: 1rem;
  border-color: #fff;
  transition: all 0.3s ease;
  text-align: end;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font: bold;
}

.Google-Signin:hover {

  border-color: #000;
  background-color: #000; /* Replace with your desired hover color */
  color: #fff; /* Replace with your desired hover text color */
}

.google-logo {
  width: 40px;
  height: 40px;
  margin-right: 5px;
}


.chat-input-holder{
display: inline;
padding: 2px;
bottom: 0;
left: 240px;right: 0;
background-color: rgba(0, 0, 0, 0.041); /* Change this to your desired transparency level */
}

.chat-input-textarea{
  padding: 12px;
  color: white;
  font-size: 1.25em;
  background-color: #40414f;
  width: 90%;
  border-radius:5px;
  border: none;
  margin:24px;
  outline: none;
  box-shadow: 0 0 8px 0 rgb(0,0,0,0.25);
}

.chatbox{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex:1;
  background-image: linear-gradient(to bottom,  #ffffff 0%, #757575 30%, #202020 90%, #000000 100%  );
  position: relative;
  overflow-y: auto; /* Add scrollbar if content overflows */
  animation: movingGradient 1s linear infinite alternate;
}


.chat-log{
  flex-grow: 1;
  padding: 1em;
  display: flex;
  flex-direction: column;
  gap: 1em;
  text-align: left;
}


.code-block {
  font-family: 'Ubuntu', sans-serif;
  background-color: #000;
  border: 5px solid #111111;
  padding: 10px;
  margin: 10px 0;
  overflow-x: auto;
  color: #000;
  border-radius: 5px;
}
.code-block-header {
  display: flex;
  justify-content: space-between;
  font-size: 0.8em;
  color: #888;
  margin-bottom: 5px;
}

.code-block.element.style{
  background-color: #282c34;
}
.code{
  font-family: 'Ubuntu', sans-serif;
}
.copy-button {
  position: right;
  background-color: #282c34;  /* grey */
  border: none;
  color: white;
  padding: 5px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  transition: all 0.25s ease-in;
}
.copy-button:hover{
  color:#000;
  background-color: #fff;
}

.copy-button::after{
  background-color: green;
  color: green;
}

.language{
  color: grey;
  position: left;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

/* The following styles are for a custom scrollbar appearance */
/* The scrollbar track */
.chat-log::-webkit-scrollbar {
  width: 10px; /* Width of the scrollbar */
}

/* The scrollbar handle */
.chat-log::-webkit-scrollbar-thumb {
  background: #888; /* Color of the scrollbar */
  border-radius: 5px; /* Rounded scrollbar */
}

/* On hover over the scrollbar handle */
.chat-log::-webkit-scrollbar-thumb:hover {
  background: #555; /* Darken scrollbar on hover */
}


.chat-message.chatgpt{
  background-color:#444654 ;
  border-radius: 5px;
  
}

.chat-message.false{
  background-color:#282c34 ;
  border-radius: 5px;
}

.chat-message-center{
  
  max-width: 1800px;
  margin-left: auto;
  margin-right: auto;
  display:flex;
  padding: 12px;
  padding-left: 4px;
  padding-right: 4px;
  
}

.Model-list{
  left:0; right: 10;
}
.model-header {
  font-size: 1.5rem;
  font-weight: bold;
  padding: 1rem;
}
.avatar{
  background: white;
  border-radius: 50%;
  width: 40px;
  height: 40px;
}

.avatar.chatgpt {
  background: #0da37f;
  border-radius: 50%;
  width: 40px;
  height: 40px;
}
.avatar.false {
  background: #fff;
}

.message{
  padding-left: 40px;
  padding-right: 40px;
}


.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}



.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

@keyframes movingGradient {
  from {
    background-position: 0 0;
  }

  to {
    background-position: 80% 80%;
  }
}